package root

import (
	"naphatsite"
	"naphatsite/lib/templutils"
	"naphatsite/web/layouts"
)

const (
	imgBottomMarginClass = "mb-2"
)

templ RootPage() {
	@layouts.Base(layouts.LargeContentWidth) {
		<div class="flex w-full flex-col gap-10 lg:flex-row">
			<article class="flex-1">
				<!-- Who is this man -->
				<a href="articles/who-is-this-man.html" class="block w-full hover:cursor-pointer lg:w-120">
					<div class={ templutils.JoinClasses("h-80 w-full bg-gray-200", imgBottomMarginClass) }>
						<img class="size-full object-cover object-[0px_40%]" src={ naphatsite.StaticRootPath("static/assets/naphat-portrait-2.avif") } alt="Portrait of Naphat"/>
					</div>
					<h2 class="text-4xl font-bold sm:text-6xl">
						Who is this man?
					</h2>
				</a>
			</article>
			<article>
				<!-- Apato ad -->
				<a href="articles/apato-ad.html" class="block">
					<div
						class={ templutils.JoinClasses("flex h-80 items-center justify-center bg-emerald-100 p-2 dark:bg-emerald-300", imgBottomMarginClass) }
					>
						<apato-logo-wide class="shadow-2xl" height="100"></apato-logo-wide>
					</div>
					<h2 class="font-sans text-4xl font-bold sm:text-5xl">
						Find your dream estate through Apato
					</h2>
				</a>
			</article>
		</div>
		<div class="flex w-full flex-col gap-10 lg:flex-row">
			<article class="flex-1">
				<!-- Neural networks article -->
				<a href="articles/neural-networks-a-geometric-interpretation.html" class="block">
					<div class={ templutils.JoinClasses("overflow-hidden border border-gray-300 dark:border-neutral-600", imgBottomMarginClass) }>
						<img class="w-full object-contain" src={ naphatsite.StaticRootPath("static/assets/nnarticle/perceptron.png") } alt="A diagram illustrating a perceptron"/>
					</div>
					<h2 class="font-sans text-4xl font-bold sm:text-5xl">
						You would not believe what neural networks do
					</h2>
				</a>
			</article>
			<article class="flex-1">
				<!-- Why bother using Vim -->
				<a href="articles/why-bother-using-vim.html" class="block">
					<div class={ templutils.JoinClasses("flex items-center justify-center overflow-hidden border border-gray-300 bg-gray-100 p-8 dark:border-neutral-700 dark:bg-neutral-800", imgBottomMarginClass) }>
						<vim-logo-icon svgClass="h-40 w-40 sm:h-56 sm:w-56 dark:brightness-[1.45]"></vim-logo-icon>
					</div>
					<h2 class="font-sans text-4xl font-bold sm:text-5xl">
						Man calls Vim his “happy place”. Doctors concerned.
					</h2>
				</a>
			</article>
		</div>
		<section class="flex w-full flex-col gap-4 bg-cyan-200 p-6 font-mono text-gray-900 sm:p-10 dark:bg-cyan-400">
			<!-- Backwego template ad -->
			<h2 class="mb-2 text-2xl font-bold">
				Experience the best of Golang fullstack development!
			</h2>
			<div class="flex flex-col items-start gap-4 sm:flex-row sm:items-center">
				<p class="flex-1 text-xl">
					Use the Backwego Template for <span class="animate-pulse underline">FREE</span> from
					<a class="break-all text-blue-600 hover:underline" href="https://github.com/Napam/backwego-template">https://github.com/Napam/backwego-template</a>
				</p>
				<img class="size-20" src={ naphatsite.StaticRootPath("static/assets/gopher-running-filled-white.svg") } alt=""/>
			</div>
		</section>
	}
}
