package sigmoid

templ Sigmoid() {
	<div class="flex w-full items-center justify-center bg-gray-100 py-8 dark:bg-neutral-800">
		<math xmlns="http://www.w3.org/1998/Math/MathML" display="block" class="text-2xl text-gray-800 dark:text-neutral-200">
			<mi>σ</mi>
			<mrow>
				<mo>(</mo>
				<mi>z</mi>
				<mo>)</mo>
			</mrow>
			<mo>=</mo>
			<mfrac>
				<mn>1</mn>
				<mrow>
					<mn>1</mn>
					<mo>+</mo>
					<msup>
						<mi>e</mi>
						<mrow>
							<mo>−</mo>
							<mi>z</mi>
						</mrow>
					</msup>
				</mrow>
			</mfrac>
		</math>
	</div>
}
